@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'utility-patterns.css';
@import 'range-slider.css';
@import 'toggle-switch.css';
@import 'theme.css';

html {
  height: 100%;
}

body {
  height: 100%;
}

main {
  height: 100%;
}

.ql-editor img {
  display: inline-block;
}

.ql-align-center {
  text-align: center;
}

.ql-align-left {
  text-align: left;
}

.ql-align-right {
  text-align: right;
}

.ql-align-justify {
  text-align: justify;
}

.ql-editor h1 {
  font-size: 2em;
}

.ql-editor h2 {
  font-size: 1.5em;
}

.ql-editor h3 {
  font-size: 1.17em;
}

.ql-editor h4 {
  font-size: 1em;
}

.ql-editor h5 {
  font-size: 0.83em;
}

.ql-editor h6 {
  font-size: 0.67em;
}

.ql-editor li::before {
  display: inline-block;
  white-space: nowrap;
  width: 1.2em;
}

.ql-editor ol li:before {
  content: counter(list-0, decimal) '. ';
}

.ql-editor ol,
.ql-editor ul {
  padding-left: 1.5em;
}
.ql-editor ol > li,
.ql-editor ul > li {
  list-style-type: none;
}
.ql-editor ul > li::before {
  content: '\2022';
}

.ql-editor ol li {
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  counter-increment: list-0;
}

.ql-video {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and 엣지 */
  scrollbar-width: none;  /* 파이어폭스 */
}