@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  height: 100%;

  font-size: 14px;
}

body {
  height: 100%;
}

.ql-editor img {
  display: inline-block;
}

.ql-align-center {
  text-align: center;
}

.ql-align-left {
  text-align: left;
}

.ql-align-right {
  text-align: right;
}

.ql-align-justify {
  text-align: justify;
}

.ql-editor h1 {
  font-size: 2em;
}

.ql-editor h2 {
  font-size: 1.5em;
}

.ql-editor h3 {
  font-size: 1.17em;
}

.ql-editor h4 {
  font-size: 1em;
}

.ql-editor h5 {
  font-size: 0.83em;
}

.ql-editor h6 {
  font-size: 0.67em;
}